html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 60px 80px;
    flex: 1;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 550px;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.content h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(1, 9, 17);
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form input {
    padding: 12px;
    width: 250px;
    border: 3px solid black;

    
    font-size: 14px;
}

.form button {
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.note {
    font-size: 14px;
    color: #555;
}

.image img {
    width: 500px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 40px 80px;
}

.footer-left p,
.footer-right p {
    line-height: 1.8;
    font-size: 14px;
}

.footer-right {
    text-align: right;
}
